.infoPage{
    .title{
        background-color: #ffd60a;
        color: white;
        height: 150px;
        padding-top: 40px;
        p{
            font-size: 14px;
            margin-top: -10px;
        }
    }
    .infoPageContent{
.infoLeft{
    text-align: center;
    img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
}
    }
}