.courseList {
  p {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 2;
    // height: 75px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: black;
  }
  a {
    text-decoration: none;
  }
}
