.footer__content{
    ul{
        list-style: none;
        margin-left: -30px;
        li{
            line-height: 40px;
            a{
                color: black;
                text-decoration: none;}
        }
        
    }
}